.dark {
  background-color: #222222;
  color: white;
  padding-left: 250px;
  padding-right: 250px;
}
body {
  margin: 0px;
  background-color: #222222;
}

#title-container {
  position: relative;
}

#title-container > hr {
  clear: left;
}

#AnthonyProfilePicture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  top: 20px;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-left: 25%;
  float: left;
}

.header-container {
  display: block;
}

h1 {
  padding-top: 75px;
}

@media (max-width: 768px) {
  .dark {
    padding-left: 25px;
    padding-right: 25px;
  }

  #AnthonyProfilePicture {
  }
}
